<footer>
  <section class="footer-header">
    <img src="../assets/images/凤翼logo-白底.png" alt="Logo" class="footer-logo">
    <h2 class="footer-name" data-i18n="footer.name"></h2>
  </section>
  <section class="footer-intro">
    <p data-i18n="footer.intro"></p>
  </section>
  <section class="footer-bottom">
    <section class="footer-contact">
      <p data-i18n="footer.addr"></p>
      <p data-i18n="footer.phone"></p>
      <!-- <p data-i18n="footer.email"></p> -->
    </section>
    <aside class="footer-qrcode">
      <img src="../assets/images/翼谷低空飞行馆.webp" alt="二维码" class="qrcode-img">
      <p class="qrcode-tip" data-i18n="footer.qrTip"></p>
    </aside>
  </section>
  <!-- <p class="footer-copyright" data-i18n="footer.copyright"></p> -->
</footer>
